.about {
  position: relative;
  z-index: 2;
  margin-top: 0;
  width: 100%;
  padding: 120px var(--site-padding);
  background-color: var(--color-bg);
  box-shadow: 0 -6px 32px 4px rgba(107, 107, 107, 0.28);
  clip-path: inset(-50px 0px -2px 0px);
}

.about__inner {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

/* ── LEFT ── */
.about__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* background-color: var(--color-100); */
}

.about__expLabel {
  font-family: var(--font-label);
  font-weight: var(--font-label-weight);
  font-size: var(--font-label-small);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--font-label-color);
  white-space: nowrap;
  padding-top: 6px;
}

.about__expList {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about__expItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.about__expCompany {
  font-family: var(--font-label);
  font-weight: var(--font-label-weight);
  font-size: var(--font-body-large);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.about__expPeriod {
  font-family: var(--font-label);
  font-weight: var(--font-label-weight);
  font-size: 11px;
  letter-spacing: 0.06em;
  color: var(--color-text-muted);
}

.about__expRole {
  font-family: var(--font-body);
  font-weight: var(--font-body-weight);
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-text-primary);
}

/* Job description */
.about__expRow {
  /* border-top: 1px solid var(--color-300); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 24px;
  padding: 0 80px 28px 0;
}

.about__expRow:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.about__expMeta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.about__expBrief {
  font-family: var(--font-body);
  font-weight: var(--font-body-weight);
  font-size: var(--font-body-large);
  line-height: 1.65;
  color: var(--color-text-primary);
  margin: 0;
  margin-top: -0.25em;
}

/* ── RIGHT ── */
.about__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 38px;
  max-width: 540px;
  margin-left: auto;
  align-items: flex-start;
}

.about__statement {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  font-size: clamp(32px, 5vw, 72px);
  line-height: 1.1;
  letter-spacing: -0.02em;
  word-spacing: 0.1em;
  color: var(--color-text-primary);
  margin: 0;
  /* text-transform: uppercase; */
}
